.item {
  display: flex;
  align-items: center;
  border: 3px solid #652D90;
  border-radius: 10px;
  padding: 10px 0;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &-img {
    flex: 0 0 20%;
    text-align: center;

    & > img {
      width: 70%;
    }
  }

  &-description {
    flex: 0 0 50%;

    &-title {
      font-size: 18px;
      margin: 0 0 15px 0;
    }

    &-price {
      font-size: 24px;
    }
  }

  &-count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30%;

    &-btn {
      font-size: calc(24vw / 14.4);
      // padding: calc(10vw/ 14.4) calc(15vw/ 14.4);
      width: calc(40vw / 14.4);
      height: calc(40vw / 14.4);
      border-radius: calc(5vw / 14.4);
      border: none;
      color: #ffffff;
      cursor: pointer;
      background-color: #652D90;

      &__delete {
        background-color: tomato;
        margin: 0 10px;
      }
    }

    &-field {
      font-size: 24px;
      margin: 0 10px;
    }
  }
}