.item {
  display: flex;
  align-items: center;
  border: calc(3vw / 14.4) solid #652D90;
  border-radius: calc(10vw / 14.4);
  padding: calc(10vw / 14.4) 0;
  margin-bottom: calc(10vw / 14.4);

  &:last-child {
    margin-bottom: 0;
  }

  &-img {
    flex: 0 0 20%;
    text-align: center;

    & > img {
      width: 70%;
    }
  }

  &-description {
    flex: 0 0 50%;

    &-title {
      font-size: calc(18vw / 14.4);
      margin: 0 0 calc(15vw / 14.4) 0;
    }

    &-price {
      font-size: calc(24vw / 14.4);
    }
  }

  &-count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30%;

    &-btn {
      font-size: calc(24vw / 14.4);
      width: calc(40vw / 14.4);
      height: calc(40vw / 14.4);
      border-radius: calc(5vw / 14.4);
      border: none;
      color: #ffffff;
      cursor: pointer;
      background-color: #652D90;

      &__delete {
        background-color: tomato;
        margin: 0 calc(10vw / 14.4);
      }

      @media screen and (min-width: 1441px){
        font-size: 24px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }
    }

    &-field {
      font-size: calc(24vw / 14.4);
      margin: 0 calc(10vw / 14.4);
    }
  }

  @media screen and (min-width: 1441px){
    & {
      padding: 10px;
      border: 3px solid #652D90;

      &-description {
        &-title {
          font-size: 22px;
          margin: 0 0 15px 0;
        }

        &-price {
          font-size: 28px;
          margin-bottom: 10px;
        }
      }

      &-count {
        &-field {
          font-size: 28px;
          margin: 0 10px;
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    & {
      flex-direction: column;
      text-align: center;
      border: calc(3vw / 3.2) solid #652D90;
      border-radius: calc(10vw / 3.2);
      padding: calc(10vw / 3.2);
      margin-bottom: calc(10vw / 3.2);

      &-img {
        margin-bottom: 10px;
    
        & > img {
          width: 50%;
        }
      }

      &-description {
        &-title {
          font-size: calc(18vw / 3.2);
          margin: 0 0 calc(15vw / 3.2) 0;
        }
    
        &-price {
          font-size: calc(24vw / 3.2);
          margin-bottom: calc(10vw / 3.2);
        }
      }

      &-count {
        &-btn {
          font-size: calc(24vw / 3.2);
          width: calc(40vw / 3.2);
          height: calc(40vw / 3.2);
          border-radius: calc(5vw / 3.2);

          &__delete {
            font-size: calc(24vw / 3.2);
            margin: 0 calc(10vw / 3.2);
          }
        }

        &-field {
          font-size: calc(24vw / 3.2);
          margin: 0 calc(10vw / 3.2);
        }
      }
    }
  }
}