.btn {
  font-size: calc(16vw / 14.4);
  padding: calc(10vw/ 14.4) calc(15vw/ 14.4);
  border-radius: calc(5vw / 14.4);
  border: none;
  color: #ffffff;
  cursor: pointer;

  &-not-in-cart {
    background-color: #652D90;
  }

  &-in-cart {
    background-color: tomato;
  }

  @media screen and (min-width: 1441px){ 
   & {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
   }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    & {
      font-size: calc(12vw / 3.2);
      padding: calc(10vw/ 3.2) calc(16vw/ 3.2);
      border-radius: calc(5vw / 3.2);
    }
  }
}