.radio {
  &-buttons {
    &__title {
      font-size: calc(16vw / 14.4);
      color: #797979;
      margin: 0 0 10px 0;
    }
  
    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: calc(10vw / 14.4);

    &__radio {
      width: calc(20vw / 14.4);
      height: calc(20vw / 14.4);
      border: 3px solid #EDD603;
      border-radius: 50%;
      box-sizing: border-box;
      padding: calc(2vw / 14.4);

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background: #EDD603;
        border-radius: 50%;
        transform: scale(0);
      }
    }

    &__input {
      display: none;

      &:checked + .radio-button__radio::after {
        transform: scale(1);
      } 
    }

    &__title {
      font-size: calc(24vw / 14.4);
      color: #797979;
      margin-left: calc(16vw / 14.4);
    }


  }

}
