.logo {
  height: calc(70vw / 14.4);
  width: calc(70vw / 14.4);

  @media screen and (min-width: 1441px){ 
    & {
      height: 70px;
      width: 70px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    & {
      height: calc(70vw / 7.67);
      width: calc(70vw / 7.67);
    }
  }
}