.cart {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  &-list {
    width: 60%;
    padding: 0;
    margin: 0;
  }

  &-empty {
    &-title {
      font-size: 36px;
    }

    &-text {
      font-size: 24px;
    }
  }

  &-total {
    padding: 0 15px;
    width: 38%;
    color: #652D90;

    &__title {
      font-size: 36px;
      margin: 0 0 30px 0;
      text-transform: uppercase;
      border-bottom: 3px solid #652D90;
    }

    &__products {
      &-count {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    &__sum {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

