.navbar {
  display: flex;
  align-items: center;

  &__link {
    font-size: calc(36vw / 14.4);
    padding: calc(3vw / 14.4) calc(8vw / 14.4);
    background: transparent;
    border-radius: calc(10vw / 14.4);

    &:active {
      color: #000000;
    }
    
    &-cart {
      position: relative;

      &-count {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(14vw / 14.4);
        font-size: calc(16vw / 14.4);
        top: calc(-10vw / 14.4);
        right: calc(-10vw / 14.4);
        width: calc(12vw / 14.4);
        height: calc(12vw / 14.4);
        border-radius: 50%;
        background: red;
        color: #ffffff;
      }
    }

    &-cart-icon {
      display: flex;
      align-items: center;
    } 

    &-btn {
      margin-right: calc(20vw / 14.4);
      text-decoration: none;
    }

  }

  @media screen and (min-width: 1441px){ 
    &__link {
      font-size: 36px;
      padding: 3px 8px;

      &-cart { 
        &-count {
          font-size: 16px;
          top: -10px;
          right: -10px;
          height: 12px;
          width: 12px;
          padding: 14px;
        }
      }

      &-btn {
        margin-right: 20px;
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    & {
      height: calc(60vw / 3.2);
    }

    &__link {
      font-size: calc(22vw / 3.2);
      padding: calc(3vw / 3.2) calc(8vw / 3.2);

      &-cart { 
        &-count {
          font-size: calc(12vw / 3.2);
          top: calc(-5vw / 3.2);
          right: calc(-5vw / 3.2);
          height: calc(15vw / 3.2);
          width: calc(15vw / 3.2);
          padding: calc(10vw / 3.2);
        }
      }

      &-btn {
        margin-right: calc(5vw / 3.2);
      }
    }
  }
}

.active {
  padding: calc(3vw / 14.4) calc(8vw / 14.4);
  background: #ffffff;
  border-radius: calc(10vw / 14.4);
  color: #000000;
}

@media screen and (min-width: 1441px){ 
  .active {
    padding: 3px 8px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .active {
    padding: calc(3vw / 3.2) calc(8vw / 3.2);
    border-radius: calc(10vw / 7.67);
  }
}

.hidden {
  display: none;
}