.navbar {
  display: flex;
  align-items: center;

  &__link {
    font-size: calc(36vw / 14.4);

    // &-cart {

    // } 

    &-btn {
      margin-right: calc(30vw / 14.4);
      text-decoration: none;
    }
  }

  @media screen and (min-width: 1441px){ 
    &__link {
      font-size: 36px;

      &-btn {
        margin-right: 30px;
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    &__link {
      font-size: calc(36vw / 7.67);

      &-btn {
        margin-right: calc(30vw / 7.67);
      }
    }
  }
}