.textarea {
  width: 100%;
  height: calc(320vw / 14.4);
  resize: none;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: calc(15vw / 14.4);
  margin-bottom: calc(15vw / 14.4);
  border: calc(2vw/ 14.4) solid transparent;
  font-size: calc(24vw / 14.4);
  color: #A39F9F;

  &:focus {
    border: calc(2vw / 14.4) solid transparent;
    outline: 0;
  }

  &::placeholder {
    font-size: calc(24vw / 14.4);
    color: #A39F9F;
  }

  &-wrapper {
    width: 100%;
  }

  &-check {
    margin-bottom: calc(25vw / 14.4);

    &__text {
      font-size: calc(20vw / 14.4);
      color: tomato;
    }
  }

  @media screen and (min-width: 1441px){
    & {
      height: 320px;
      padding: 15px;
      margin-bottom: 15px;
      font-size: 24px;

      &:focus {
        border: 2px solid transparent;
      }
    
      &::placeholder {
        font-size: 24px;
      }

      &-check {
        margin-bottom: 25px;
    
        &__text {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    & {
      height: calc(200vw / 3.2);
      padding: calc(8vw / 3.2);
      margin-bottom: calc(10vw / 3.2);
      font-size: calc(24vw / 3.2);

      &:focus {
        border: calc(2vw / 3.2) solid transparent;
      }
    
      &::placeholder {
        font-size: calc(18vw / 3.2);
      }

      &-check {
        margin-bottom: calc(20vw / 3.2);
    
        &__text {
          font-size: calc(12vw / 3.2);
        }
      }
    }
  }
}

.error, .error:focus {
  &::placeholder {
    color: tomato;
  }

  border: 2px solid tomato;
}