.input {
  width: 100%;
  padding: calc(15vw / 14.4);
  font-size: calc(24vw / 14.4);
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: calc(5vw / 14.4);
  margin-bottom: calc(15vw / 14.4);
  border: 2px solid transparent;
  outline: 0;

  &:focus {
    border: 2px solid transparent;
    outline: 0;
  }

  &::placeholder {
    color: #A39F9F;
  }

  &-check {
    margin-bottom: calc(25vw / 14.4);

    &__text {
      font-size: calc(20vw / 14.4);
      color: tomato;
    }
  }

  &-wrapper {
    width: 100%;
  } 
}

.error, .error:focus {
  &::placeholder {
    color: tomato;
  }

  border: 2px solid tomato;
}