.search {
  margin: 0 calc(10vw / 14.4);
  font-size: calc(18vw / 14.4);
  height: calc(40vw / 14.4);
  width: calc(373vw / 14.4);
  padding: 0 calc(10vw / 14.4);
  border: none;
  outline: none;
  background-image: none;
  box-shadow: none;

  @media screen and (min-width: 1441px){ 
    & {
      margin: 0 10px;
      font-size: 18px;
      height: 40px;
      width: 27%;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    & {
      margin: 0 0 calc(25vw / 7.67) 0;
      height: calc(40vw / 7.67);
      width: calc(373vw / 7.67);
      font-size: calc(18vw / 7.67);
      padding: 0 calc(10vw / 7.67);
    }
  }
}

