$header-background-color: #EDD603;
$header-text-color: #652D90;

.header {
  padding: 14px 0;
  background-color: $header-background-color;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 23px;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-text {
      margin: 0 0 0 calc(30vw / 14.4);
      font-size: calc(48vw / 14.4);
      color: $header-text-color;
    }
  }

  @media screen and (min-width: 1441px){ 
    &__logo {
      &-text {
        margin: 0 0 0 30px;
        font-size: 48px;
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    &-wrapper {
      flex-direction: column;
    }

    &__logo {
      margin-bottom: calc(15vw / 7.67);

      &-text {
        margin: 0 0 0 calc(30vw / 7.67);
        font-size: calc(48vw / 7.67);
      }
    }
  }
}