* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

// footer to bottom
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: calc(140vw / 14.4);

  @media screen and (min-width: 1441px){ 
    & {
      margin-top: 140px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    & {
      margin-top: calc(210vw / 3.2);
    }
  }
}

.main {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin: 0 calc(30vw / 14.4);
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    &-wrapper {
      margin: 0 calc(10vw / 3.2);
      padding-bottom: calc(10vw / 3.2);
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}